- invoices = Invoice.where(:stripe_charge_hash => nil || '')
- if invoices.length > 0
  %ul
    - invoices.each do |invoice|
      %li
        = link_to("Invoice ##{invoice.number}", admin_invoice_path(invoice))
        for #{number_to_currency invoice.total}
        (#{link_to("client link", "/invoices/#{invoice.token}")})
- else
  %p No open invoices.

%div= link_to("New invoice", new_admin_invoice_path)